.Comments {
  width: 93%;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: .5rem;
  box-shadow: 0 0 4px #ACACAC50;
  padding-top: 2.5rem;
  position: relative;
  top: 3rem;
  font-family: 'Montserrat';
  padding-right: .6rem;
}

.Comments ul {
  list-style: none;
  overflow-y: scroll;
  height: 33.1rem;
  padding-right: .8rem;
  transition: height .4s ease-in-out;
}

.Comments ul::-webkit-scrollbar {
  width: 5px;
  background-color: #D8D8D860;
  border-radius: 1rem;
}

.Comments ul::-webkit-scrollbar-thumb {
  background-color: #002C7130;
  border-radius: 1rem;
}

.Comments ul:focus,
.Comments ul:active {
  outline: 2px solid #FFA640;
  color: #FFBC70;
}

.Comments li {
  border-top: 1px solid #EBEBEB;
  padding: 3rem 2rem 2.55rem 2rem;
}

.Comments li:first-of-type {
  border-top: none;
  padding-top: 0;
}

.btnComments {
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 1.4rem;
  color: #FFA640;
  letter-spacing: 0;
  font-family: 'Montserrat';
  cursor: pointer;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.btnComments:hover {
  color: #FFBC70;
}

.btnComments:focus,
.btnComments:active {
  outline: 2px solid #FFA640;
  outline-offset: 2px;
  color: #FFBC70;
}

.Comments img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-right: 1.1rem;
}

.authorBox {
  display: flex;
}

.author {
 flex-grow: 1;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.content {
  padding-left: 5.1rem;
  padding-right: 2.7rem;
  font-size: 14px;
  color: #444444;
  letter-spacing: 0;
  line-height: 21px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.name {
  font-size: 1.4rem;
  color: #002C71;
  letter-spacing: 0;
  font-weight: bold;
}

.date {
  opacity: 0.5;
  font-size: 1.4rem;
  color: #002C71;
  letter-spacing: 0;
  font-weight: bold;
}

.inputBox {
  padding: 4rem 2.5rem 3.5rem 2.5rem;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  box-shadow: 0 0 4px #ACACAC50;
  border-radius: 5px;
}

.inputComment {
  border: 0;
  border-bottom: 2px solid #DBE0E8;
  width: 100%;
  color: #8298B9;
  padding: .5rem 0;
  font-size: 1.8rem;
  letter-spacing: 0;
  font-family: 'Montserrat';
  transition: border-bottom-color .3s ease-in;
}

.inputComment::placeholder {
  font-size: 1.8rem;
  color: #8298B9;
  font-family: 'Montserrat';
}

.inputComment:focus,
.inputComment:active {
  border-bottom-color: #FFA640;
  outline: none;
}

.CommentsHidden ul {
  /* display: none; */
  height: 0;
  transition: height .4s ease-in-out;
  outline: none;
}

.CommentsHidden ul li:first-of-type {
  border-top: none;
}

@media only screen and (max-width: 550px) {
  .btnComments {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}